<div align="center" style="padding: 65px">
  <img src="assets/Image_Globe.gif" width="7%" />
</div>
<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <br />
    <img src="assets\logo_Forem.png" width="25%" />
    <div id="tout2">
      <label for="email"></label>
      <input
        type="email"
        formControlName="email"
        id="email"
        placeholder="adresse email"
        minlength="10"
        maxlength="25"
        required
      />
    </div>
    <div id="tout2">
      <label for="password"></label>
      <input
        type="password"
        formControlName="password"
        id="password"
        placeholder="password"
        maxlength="5"
        maxlength="20"
        required
      />
    </div>
    <button type="submit">se connecter</button>
  </form>
</div>
<br /><
<app-footer></app-footer>
<div class="logo-container">
  <a href="https://www.leforem.be/"
    ><img style="inline-size: 25%" src="assets\logo_FOREM.jpg" alt="Forem"
  /></a>
  <a href="https://www.vdab.be/"
    ><img style="inline-size: 23%" src="assets\logo_VDAB.jpg" alt="VDAB"
  /></a>
  <a href="https://www.linkedin.com/in/vincent-szmulikowski-122881151/"
    ><img
      style="inline-size: 25%"
      src="assets\logo_Linkedin.jpg"
      alt="Linkedin"
  /></a>
  <a href="https://www.actiris.brussels/fr/citoyens/"
    ><img style="inline-size: 18%" src="assets\Logo_ACTIRIS.avif" alt="ACTIRIS"
  /></a>
</div>
