<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      table {
        inline-size: 95%;
        margin-inline-start: 0px;
        margin-inline-end: 15px;
      }

      button {
        background-color: chartreuse;
        margin: 0 5px;
      }

      .highlighted {
        background-color: rgb(255, 224, 178);
      }

      tbody tr:nth-child(even) {
        background-color: rgb(175, 170, 170);
      }

      tbody tr:nth-child(28) {
        background-color: orange;
      }
    </style>
  </head>
  <body>
    <div align="center" style="padding: 65px">
      <img src="assets/Image_Globe.gif" width="7%" />
    </div>
    <div align="center" *ngIf="formData && formData.length > 0">
      <div style="margin: 0 15px">
        <table>
          <thead>
            <tr style="background-color: green; font-size: 20px">
              <th
                style="border-block-end: 1.5px solid white; inline-size: 25px"
              >
                #
              </th>
              <th
                style="border-block-end: 1.5px solid white; inline-size: 200px"
              >
                Company Name
              </th>
              <th
                style="border-block-end: 1.5px solid white; inline-size: 120px"
              >
                Submission Date
              </th>
              <th
                style="border-block-end: 1.5px solid white; inline-size: 180px"
              >
                Sector
              </th>
              <th
                style="border-block-end: 1.5px solid white; inline-size: 140px"
              >
                Employer Response Date
              </th>
              <th
                style="border-block-end: 1.5px solid white; inline-size: 125px"
              >
                Search Type
              </th>
              <th
                style="border-block-end: 1.5px solid white; inline-size: 150px"
              >
                Reference Number
              </th>
              <th
                style="border-block-end: 1.5px solid white; inline-size: 50px"
              >
                Employer Email
              </th>
              <th
                style="border-block-end: 1.5px solid white; inline-size: 125px"
              >
                Contact Person
              </th>
              <th
                style="border-block-end: 1.5px solid white; inline-size: 350px"
              >
                PDF URL
              </th>
              <th
                style="border-block-end: 1.5px solid white; inline-size: 100px"
              >
                Score
              </th>
              <th
                style="border-block-end: 1.5px solid white; inline-size: 135px"
              >
                Phone Number
              </th>
              <th
                style="border-block-end: 1.5px solid white; inline-size: 200px"
              >
                Update-Delete
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let data of formData; let i = index"
              [class.highlighted]="i === 27"
            >
              <td style="border-block-end: 1.5px solid white">{{ i + 1 }}</td>
              <td style="border-block-end: 1.5px solid white">
                💻 {{ data.companyName }}
              </td>
              <td style="border-block-end: 1.5px solid white">
                📅 {{ data.submissionDate }}
              </td>
              <td style="border-block-end: 1.5px solid white">
                🌐 {{ data.sector }}
              </td>
              <td style="border-block-end: 1.5px solid white">
                🗓️ {{ data.employerResponseDate }}
              </td>
              <td style="border-block-end: 1.5px solid white">
                🔎 {{ data.searchType }}
              </td>
              <td style="border-block-end: 1.5px solid white">
                🖇️ {{ data.referenceNumber }}
              </td>
              <td style="border-block-end: 1.5px solid white">
                📧 {{ data.employerEmail }}
              </td>
              <td style="border-block-end: 1.5px solid white">
                👤 {{ data.contactPerson }}
              </td>
              <td style="border-block-end: 1.5px solid white">
                📄 <a [href]="data.pdfUrl" target="_blank">{{ data.pdfUrl }}</a>
              </td>
              <td style="border-block-end: 1.5px solid white">
                👍 {{ data.searchTypeNote }}
              </td>
              <td style="border-block-end: 1.5px solid white">
                📞 {{ data.phoneNumber }}
              </td>
              <td style="border-block-end: 1.5px solid white">
                <button
                  style="
                    background-color: chartreuse;
                    inline-size: 100px;
                    block-size: 25px;
                  "
                  (click)="updateData(i)"
                >
                  Update
                </button>
                <button
                  style="
                    background-color: red;
                    inline-size: 100px;
                    block-size: 25px;
                  "
                  (click)="deleteData(i)"
                >
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div
        style="margin-block-start: 15px; display: flex; justify-content: center"
      >
        <button
          style="background-color: chartreuse; margin: 0 5px"
          (click)="encoderDonnees()"
        >
          Encoder les données
        </button>
      </div>
    </div>
    <div *ngIf="!formData || formData.length === 0">
      <p>No data available</p>
    </div>
    <button
      style="
        background-color: rgb(210, 210, 216);
        margin: 0 5px;
        inline-size: 105px;
        margin-inline-start: 25px;
      "
      (click)="openModal()"
    >
      Afficher CV
    </button>
    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <img src="assets\Capture CV.png" alt="Capture d'écran CV" />
      </div>
    </div>
    <app-footer></app-footer>
  </body>
</html>
