<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <br />
      <img
        style="
          position: fixed;
          inset-block-start: 23px;
          inset-inline-start: 2%;
          margin-inline-start: -40px;
        "
        src="assets\logo-recherche emploi.avif"
        alt="Logo"
        height="120"
      />
    </a>
    <button
      class="btn btn-outline-success"
      (click)="connexion()"
      style="
        background-color: rgb(255, 0, 0);
        color: white;
        margin-inline-start: 2545px;
      "
    >
      Déconnexion
    </button>
  </nav>
</div>
